@import './common';

body {
  margin: 0px;
  font-family: sans-serif;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: $font;
}

#content {
  max-width: $max-width;
  margin: 0 auto;
  height: 300px;
}

nav {
  height: 80px;
  background-color: #fff;

  .logo {
    height: 60px;
    margin: 10px 0;
    @media(max-width: 1280px) {
      margin-left: 10px;
    }
  }
  ul {
    float: right;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 0;
      padding: 40px 20px;
      margin: 0;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;

      &.home {
        display: none;
      }

      &:last-of-type {
        padding-right: 0;
      }

      .fa {
        line-height: 0;
      }
      a {
        color: $font;
        text-decoration: none;
        padding: $spacing;

        &:hover, &:focus, &.active {
          color: $blue;
          font-weight: bold;
        }

        &.button {
          background-color: $red;
          color: $white;
          padding: $spacing 30px;
          margin: -$spacing 0px;
          line-height: 0;
          vertical-align: middle;
          display: inline-block;
          border-radius: 10px;

          &:hover, &:focus {
            background-color: darken($red, 10%);
          }
        }
      }
    }
  }

  @media(max-width: 870px) {
    .logo {
      display: none;
    }
    ul li {
      padding: 40px 10px;
      &.home {
        display: inline-block;
      }
    }
  }


  @media(max-width: 640px) {
    height: auto;
    .logo {
      display: none;
    }
    ul {
      width: 100%;
      float: none;
      li {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 0;
        a {
          line-height: 1;
          display: block;
          height: 100%;

          &.button {
            background-color: $red;
            color: $white;
            line-height: 1;
            display: block;
            border-radius: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

main {

}



.volunteering-banner {
  background-color: $red;
  color: $white;
  padding: $spacing * 2;

  h2, h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: $small-spacing;
  }
  h2 {
    letter-spacing: 2px;
  }

  .volunteering-block-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;

    .volunteering-block {
      text-align: center;
      flex: 1;
      flex-basis: 300px;
      max-width: 450px;
      min-width: 250px;
      padding: $spacing;
    }
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing * 2;
  justify-content: space-between;

  .contact-us {
    flex: 1;
    width: 30%;
    min-width: 300px;
    font-size: 12;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        color: $font-light;
        padding: 5px;
        .icon {
          width: 25px;
          display: table-cell;
          vertical-align: top;
          margin-right: 10px;
          padding-top: 3px;
        }
        .contact-value{
          display: table-cell;
          vertical-align: top;
          white-space: pre;
        }

      }
    }
    h2 {
      color: $blue;
      text-transform: uppercase;
      margin-top: 0;
    }
  }
  .mission {
    flex: 1;
    width: 60%;
    font-size: 12;
    margin-right: $spacing * 2;
    margin-bottom: $spacing;
  }
}

.language-toggle {
  display: inline-block;
  line-height: 0;
  color: $light-gray;
  padding: 0 3px;

  @media(max-width: 640px) {
    line-height: 1;
    padding: 10px;
  }

  &.active {
    color: $font;
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $font;
  }
}

p {
  overflow-wrap: break-word;
}
