@import './common';

#financial-coaching-page {
  
  h1 {
    @extend .page-title;
  }

  h2 {
    color: $blue;
    text-transform: uppercase;
    margin: 0;
    margin-top: 1rem;
  }

  .financial-coaching-section {
    padding: $spacing;
    padding-left: 35px;
  }

  .support-section {
    background-color: $lighter-gray;
    padding: $spacing;
    padding-left: 35px;

  }

  .income-section {
    background-color: $light-gray;
    padding: $spacing;
    padding-left: 35px;
  }
  .page-blurb {

  }

  .downloads-list {
    margin: $spacing*2 (-$spacing/2);
    display: flex;
    flex-wrap: wrap;
    .download {
      cursor: pointer;
      text-decoration: none;
      flex: 1;
      display: block;
      background-color: $light-gray;
      min-width: 325px;
      padding: $spacing * 2;
      margin: $spacing/2;

      &:hover {
        background-color: #ddd;
      }

      h3 {
        margin: 0;
        color: $blue;
        text-transform: uppercase;
        span {
          display: block;
          font-size: 2rem;
        }
      }

      .icon {
        float: right;
        color: $blue;
        line-height: 0;
        margin: 32px 0;
      }
    }
  }
}
