@import './common';

#home-page {

    #home-page-get-involved {
        margin-bottom: $spacing * 3;

        .row {
          align-items: center;
        }

        .section-header {
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;

            .involved {
                font-weight: bold;
            }
        }

        .services-entry-wrapper {
            margin-bottom: 1rem;
        }

        .services-entry {
            position: relative;
            background-color:  $light-gray;
            padding: $spacing * 2;
            padding-bottom: 90px;
        }

        .center-service {
          .services-entry {
            min-height: 300px;
            background-color: $green;
            color: $white;
            .title-text {
              color: $white;
            }
            .services-link {
              border: 2px solid lighten($red, 10%);
            }
          }
        }

        .title-text {
            text-transform: uppercase;
            color: $blue;
            margin: 0;

        }

        .services-small-title-text {
            font-size: 1.5rem;
        }

        .services-large-title-text {
            font-size: 3.2rem;
        }

        .services-blurb-text {
            margin-bottom: 1rem;
        }

        .services-link {
            @extend .link-button;
            position: absolute;
            bottom: $spacing * 2;
            background-color: $red;
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;

            &:focus, &:hover{
                background-color: darken($red, 10%);
            }
        }
    }

    iframe {
      // Prevent gap at bottom of instagram
      display:block;
    }

    .financial-coaching {
      height: 200px;
      background-color: $green;
      color: $white;
      padding: $spacing;
      margin-top: $spacing;
    }
}
