@import './common';

#home-page {

    #home-page-get-involved {

        .services-entry {
            @extend .flex-col;
            @extend .flex-4;
            background-color:  $light-grey;
            margin-right: 2rem;
            padding: 1.5rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .services-link {
            @extend .link-button;
            background-color: $red;
            color: white;
        }
    }
}