@import "common";
#income-based-services{

    h1{
        color: $blue;
        text-transform: uppercase;
    }
   
    h2{
        color: $blue;
        font-style: normal;
        text-transform: uppercase;
    }

    .bold{
        font-weight: bold;
    }


}
