.link-button {
    border-radius: 12px;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

button.link-button {
    background-color: $red;
    color: $white;
    border: none;
    font-size: 18px;
}