// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$max-width: 1280px;

// Typography
$body-font-family: 'Lato', sans-serif;
$heading-font-family:'Lato', sans-serif;

// Font Sizes
$base-font-size: 16px;

// Line height
$line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$border-radius: 3px;
$spacing: 20px;
$small-spacing: $spacing / 2;

// Colors
$font: #333;
$font-light: #666;
$blue: #25418F;
$red: #f17254;
$red-hover: shade($red, 10%);
$medium-gray: lighten($black, 30%);
$light-gray: #eeeae6;


$base-font-color: $dark-gray;
$white: #fff;

// Border
$base-border-color: #ddd;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;

$base-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.14), 1px 2px 1px -1px rgba(0,0,0,.12);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.2), 1px 1px 1px -1px rgba(0,0,0,.06);
$focus-box-shadow:  0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-box-shadow-focus: $form-box-shadow, $focus-box-shadow;
