{% extends "_layout" %}
{% includeCssFile "/assets/css/about-us.css" %}
{% block content %}
{% include 'hero' %}
<div id="about-us-page">
    
<div class=mission-section>
    <h2 class="section-title">
        {{entry.missionTitle}}
    </h2>
    <div class="section-description">
        {{entry.missionDescription}}
    </div>  
</div>
    
<div class="values-section">
    <h2 class="section-title">
        {{entry.valuesTitle}}
    </h2>
    <div class="section-description">
        {{entry.valuesDescription}}
    </div>
</div>

<div class="vision-section">
    <h2 class="section-title">
        {{entry.visionTitle}}
    </h2>
    <div class="section-description">
        {{entry.visionDescription}}
    </div>
</div>
</div>
{% endblock %}