{% extends "_layout" %}
{% includeCssFile "/assets/css/financial-coaching.css" %}
{% block content %}
<div id="financial-coaching-page">
    {% include 'hero' %}

    <h2 class="section-title">
        {{entry.financialCoachingTitle}}
    </h2>
    <div class="section-description">
        {{entry.financialCoachingDescription}}
    </div>
    
    <h2 class="section-title">
        {{entry.incomeTitle}}
    </h2>
    <div class="section-description">
        {{entry.incomeDescription}}
    </div>
    
    <h2 class="section-title">
        {{entry.supportTitle}}
    </h2>
    <div class="section-description">
        {{entry.supportDescription}}
    </div>
</div>
{% endblock %}