<div id="home-page-get-involved">
    <h1 class="section-header">
        {{ entry.servicesTitleText }}
    </h1>
    <div class="row">
    {% for serviceBlock in entry.serviceBlock %}
    <div class="services-entry-wrapper col-xs-12 col-sm-4 {{ (serviceBlock == 'free-open-services' ? 'center-service' : '') }}">
        <div class="services-entry">
            <h2 class="title-text">
                <div class="services-small-title-text">
                    {{ serviceBlock.smallTitleText|raw }}
                </div>
                <div class="services-large-title-text">
                    {{ serviceBlock.largeTitleText|raw }}
                </div>
            </h2>
            <div class="services-blurb-text">
                {{ serviceBlock.blurb }}
            </div>
            <a class="services-link" href="{{url(serviceBlock.learnMoreLink)}}">
                {{ entry.homepageServicesLinkText }}
            </a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>