{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

  {% includeCssFile "/assets/css/base.css" %}
</head>

<body>
	<div id="content">
		<nav>
      <a href="{{ siteUrl }}"><img src="logo" class="logo" /></a>
      <ul class="nav-links">
				<li><a href="{{ url('homepage') }}" {% if craft.request.firstSegment == 'homepage' %}class="active"{% endif %}>Home</a></li>
				<li><a href="{{ url('aboutUs') }}" {% if craft.request.firstSegment == 'aboutUs' %}class="active"{% endif %}>About Us</a></li>
        <li><a href="{{ url('donate') }}" class="button {% if craft.request.firstSegment == 'donate' %} active{% endif %}">Donate</a></li>
			</ul>

    </nav>


		<main>
			{% block content %}	{% endblock %}
		</main>

    <div class="volunteering-banner">
      <h2>{{ volunteerBanner.volunteerTitle }}</h2>
      <div class="volunteering-block-container">
        <div class="volunteering-block">
          <h3>{{ volunteerBanner.skilledSubtitle }}</h3>
          <div>{{ volunteerBanner.skilledVolunteerBlurb }}</div>
        </div>
        <div class="volunteering-block">
          <h3>{{ volunteerBanner.unskilledSubtitle }}</h3>
          <div>{{ volunteerBanner.unskilledVolunteerBlurb }}</div>
        </div>
      </div>
    </div>

		<footer>
      <div class="mission">
        This is the mission it is very cool we do good stuff for folks.
      </div>
		  <div class="contact-us">
        <h2>Contact</h2>
        <ul>
          <li><i class="logo"></i>{{ footer.address }}</li>
          <li><i class="logo"></i>{{ footer.telephoneNumber }}</li>
          <li><i class="logo"></i><a href="mailto:{{footer.email}}">{{ footer.email }}</a></li>
        </ul>
      </div>
      <div class="legal"></div>
		</footer>
	</div>
</body>
</html>
