{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.locale|replace('_','-') }}">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="home" href="{{ siteUrl }}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rangeslider.js@2.3.1/dist/rangeslider.css" integrity="sha256-jJApoDvazb6sRGbc3gE+wdEAE0cE0H1Ag3k1qCada9c=" crossorigin="anonymous">
  {% includeCssFile "/assets/css/base.css" %}
</head>

<body>
	<div id="content">
		<nav>
      <a href="{{ siteUrl }}"><img class="logo" src="{{ navigation.logo.first().url }}"/></a>
      <ul class="nav-links">
        {% set navigation = navigation.navigation.first() %}
        <li class="home"><a href="{{ siteUrl }}" {% if craft.request.firstSegment == '' %}class="active"{% endif %}>Home</a></li>
        {% if navigation.language == "English" %}
        <li><a href="/{{ entry.uri }}">{{ navigation.language }}</a></li>
        {% else %}
				<li><a href="/es/{{ entry.uri }}">{{ navigation.language }}</a></li>
        {% endif %}
				<li><a href="{{ url('homeowner-services') }}" {% if craft.request.firstSegment == 'homeowner-services' %}class="active"{% endif %}>{{ navigation.services }}</a></li>
				<li><a href="{{ url('about-us') }}" {% if craft.request.firstSegment == 'aboutUs' %}class="active"{% endif %}>{{ navigation.aboutUs }}</a></li>
        <li><a href="{{ url('donate') }}" class="button {% if craft.request.firstSegment == 'donate' %} active{% endif %}">{{ navigation.donate }}</a></li>
			</ul>
    </nav>


		<main>
			{% block content %}	{% endblock %}
		</main>

    <div class="volunteering-banner">
      <h2>{{ volunteerBanner.volunteerTitle }}</h2>
      <div class="volunteering-block-container">
        <div class="volunteering-block">
          <h3>{{ volunteerBanner.skilledSubtitle }}</h3>
          <div>{{ volunteerBanner.skilledVolunteerBlurb }}</div>
        </div>
        <div class="volunteering-block">
          <h3>{{ volunteerBanner.unskilledSubtitle }}</h3>
          <div>{{ volunteerBanner.unskilledVolunteerBlurb }}</div>
        </div>
      </div>
    </div>

		<footer>
      <div class="mission">
        {{ footer.mission }}
      </div>
		  <div class="contact-us">
        <h2>Contact</h2>
        <ul>
          <li>
            <i class="icon icon-address fa fa-map-marker" aria-hidden="true"></i><span class="contact-value">{{footer.address }}</span>
          </li>
          <li>
            <i class="icon fa fa-phone" aria-hidden="true"></i><span class="contact-value">{{ footer.telephoneNumber }}</span>
            </li>
          <li>
            <i class="icon fa fa-envelope" aria-hidden="true"></i><span class="contact-value"><a href="mailto:{{footer.email}}">{{ footer.email }}</a></span>
          </li>
        </ul>
      </div>
      <div class="legal"></div>
		</footer>
  </div>
  
  <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/knockout@3.4.2/build/output/knockout-latest.min.js,npm/rangeslider.js@2.3.1"></script>
  <script src="/assets/main.js"></script>
</body>
</html>
