
{% extends "_layout" %}

{% block content %}

  <div class="qualification-calculator">
    <div class="input-group">
      <input type="checkbox" data-bind="checked: qualify.homeOwner" />
      <label>I own my home</label>
    </div>
    <div class="input.group">
      <input type="checkbox" data-bind="checked: qualify.overSixty" />
      <label>I'm over 60</label>
    </div>
    <div class="input-group">
      <label>Household size</label>
      <input type="range" min="0" max="10" step="1" data-bind="textInput: qualify.household" />
      <span data-bind="text: qualify.household"></span>
    </div>
    <div class="input-group">
      <label>My income</label>
      <input type="range" min="0" max="100000" step="50" data-bind="textInput: qualify.income" />
      <span data-bind="text: qualify.incomeText"></span>
    </div>
    <div class="indicator" data-bind="visible: qualify.homeRepairs" style="display:none">
      <i class="fa fa-check-circle"></i>
      <label>Home Repairs</label>
    </div>
    <div class="indicator" data-bind="visible: qualify.otherServices" style="display:none">
      <i class="fa fa-check-circle"></i>
      <label>Access Modifications</label>
    </div>
    <div class="indicator" data-bind="visible: qualify.otherServices" style="display:none">
      <i class="fa fa-check-circle"></i>
      <label>Furnice Replacements</label>
    </div>
  </div>

{% endblock %}
