{% extends "_layout" %}
{% includeCssFile "/assets/css/services-page.css" %}
{% block content %}
<div id="services-page">
    {% include 'hero' %}

    {% for block in entry.serviceInfoBlock.type('generalService') %}
        {% set icon = block.icon.first() %}
        {% if icon %}
            <img src="{{ icon.getUrl() }}" class="service-icon" />
        {% endif %}
        <div class="small-text">{{ block.smallTitleText }}</div>
        <div class="large-text">{{ block.largeTitleText }}</div>
        <div>
            {{ block.blurbText }}
        </div>
    {% endfor %}

    {% for block in entry.serviceInfoBlock.type('incomeLimited') %}
    <div class="income-limited-service" data-uses-age-based-criteria="{{block.usesAgeBasedCriteria}}">
        {% set icon = block.icon.first() %}
        {% if icon %}
            <img src="{{ icon.getUrl() }}" class="service-icon" />
        {% endif %}
        <div class="small-text">{{ block.smallTitleText }}</div>
        <div class="large-text">{{ block.largeTitleText }}</div>
        <div>
            {{ block.blurbText }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}